.camera-container {
    height: 90vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul ul {
    padding-left: 2em;
}


@media screen and (max-width: 720px) {
    .hero-container {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .caption ul {
        font-size: 12px;
    }
}